.page.theme_dark {
  --main-text-color: var(--text-light, #f1b2ce);
  --brand-color: var(--brand-main, #db00ff);
  --secondary-color: var(--accent-main, #ff0070);
  --secondary-color-transparent: var(--accent-main-transparent, #ff007040);
  --accent-color: var(--accent-main, #ff0070);
  --highlight-color: var(--bg-dark, #000028);

  --page-background-color: var(--bg-dark, #000028);
  --page-background-image: url("../images/cover-image-dark.png");

  --badge-visibility: visible;
}

@media (prefers-color-scheme: dark) {
  :root {
    --main-text-color: var(--text-light, #f1b2ce);
    --brand-color: var(--brand-main, #db00ff);
    --secondary-color: var(--accent-main, #ff0070);
    --secondary-color-transparent: var(--accent-main-transparent, #ff007040);
    --accent-color: var(--accent-main, #ff0070);
    --highlight-color: var(--bg-dark, #000028);
    --page-background-color: var(--bg-dark, #000028);
    --page-background-image: url("../images/cover-image-dark.png");
    --badge-visibility: visible;
  }
}
