:root.theme-light {
  --main-text-color: var(--text-dark, #353430);
  --accent-color: var(--highlight-light, #ff8dcb);
  --brand-color: var(--accent-light, #ffc2e6);
  --highlight-color: var(--text-dark, #353430);
  --secondary-color: var(--text-dark, #353430);
  --secondary-color-transparent: var(--text-dark-transparent, #35343040);
  --page-background-color: var(--bg-light, #fff1f7);
  --page-background-image: url("../images/cover-image-light.png");
  --badge-visibility: hidden;
}

@media (prefers-color-scheme: light) {
  :root {
    --main-text-color: var(--text-dark, #353430);
    --accent-color: var(--highlight-light, #ff8dcb);
    --brand-color: var(--accent-light, #ffc2e6);
    --highlight-color: var(--text-dark, #353430);
    --secondary-color: var(--text-dark, #353430);
    --secondary-color-transparent: var(--text-dark-transparent, #35343040);
    --page-background-color: var(--bg-light, #fff1f7);
    --page-background-image: url("../images/cover-image-light.png");
    --badge-visibility: hidden;
  }
}
